## Merging Dataframes

In [8]:
import pandas as pd

staff_df=pd.DataFrame({'Name':['Kelly','Sally','James'],
                      'Role':['Director of HR','Course liason','Grader']})
staff_df=staff_df.set_index('Name')

print(staff_df.head())

                 Role
Name
Kelly  Director of HR
Sally   Course liason
James          Grader

In [9]:
student_df=pd.DataFrame({'Name':['James','Mike','Sally'],
                        'Role':['Business','Law','Engineering']})

student_df=student_df.set_index('Name')
print(student_df.head())

              Role
Name
James     Business
Mike           Law
Sally  Engineering

In [10]:
#full outer join or union of the dataframe

pd.merge(staff_df,student_df,how='outer',left_index=True,right_index=True)

               Role_x       Role_y
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally   Course liason  Engineering

In [11]:
#inner join or intersection of the two dataframes
pd.merge(staff_df,student_df,how='inner',left_index=True,right_index=True)

              Role_x       Role_y
Name
Sally  Course liason  Engineering
James         Grader     Business

In [12]:
#left join

pd.merge(staff_df,student_df,how='left',left_index=True,right_index=True)

               Role_x       Role_y
Name
Kelly  Director of HR          NaN
Sally   Course liason  Engineering
James          Grader     Business

In [13]:
#right join

pd.merge(staff_df,student_df,how='right',left_index=True,right_index=True)

              Role_x       Role_y
Name
James         Grader     Business
Mike             NaN          Law
Sally  Course liason  Engineering

In [14]:
#join dataframe using 'on' on columns

staff_df=staff_df.reset_index()
student_df=student_df.reset_index()

pd.merge(staff_df,student_df,how='right',on='Name')

    Name         Role_x       Role_y
0  Sally  Course liason  Engineering
1  James         Grader     Business
2   Mike            NaN          Law

In [15]:
staff_df=pd.DataFrame({'Name':['Kelly','Sally','James'],
                      'Role':['Director of HR','Course liason','Grader'],
                      'Location':['State Street','Washington Avenue','Washington Avenue']})
student_df=pd.DataFrame({'Name':['James','Mike','Sally'],
                        'School':['Business','Law','Engineering'],
                        'Location':['1024 Billiard Avenue','1024 Billiard Avenue','512 Washington Crescent']})

In [16]:
pd.merge(staff_df,student_df,how='left',on="Name")

,Name,Role,Location_x,School,Location_y
0,Kelly,Director of HR,State Street,NaN,NaN
1,Sally,Course liason,Washington Avenue,Engineering,512 Washington Crescent
2,James,Grader,Washington Avenue,Business,1024 Billiard Avenue

In [1]:
import pandas as pd

In [3]:
%%capture

df_2011 = pd.read_csv('datasets/college_scorecard/MERGED2011_12_PP.csv',error_bad_lines=False)
df_2012 = pd.read_csv('datasets/college_scorecard/MERGED2012_13_PP.csv',error_bad_lines=False)
df_2013 = pd.read_csv('datasets/college_scorecard/MERGED2013_14_PP.csv',error_bad_lines=False)

In [4]:
df_2011.head(3)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654.0,100200.0,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663.0,105200.0,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690.0,2503400.0,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(len(df_2011))
print(len(df_2012))
print(len(df_2013))

15235
7793
7804

In [6]:
frames = [df_2011,df_2012,df_2013]
pd.concat(frames)# we cannot make out what observations are from which year anymore

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOTFIRSTTIME_POOLED_SUPP,OMENRUP_NOTFIRSTTIME_POOLED_SUPP,OMENRYP_FULLTIME_POOLED_SUPP,OMENRAP_FULLTIME_POOLED_SUPP,OMAWDP8_FULLTIME_POOLED_SUPP,OMENRUP_FULLTIME_POOLED_SUPP,OMENRYP_PARTTIME_POOLED_SUPP,OMENRAP_PARTTIME_POOLED_SUPP,OMAWDP8_PARTTIME_POOLED_SUPP,OMENRUP_PARTTIME_POOLED_SUPP
0,100654.0,100200.0,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663.0,105200.0,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690.0,2503400.0,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706.0,105500.0,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724.0,100500.0,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,100751.0,105100.0,1051,The University of Alabama,Tuscaloosa,AL,35487-0166,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,100760.0,100700.0,1007,Central Alabama Community College,Alexander City,AL,35010,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,100812.0,100800.0,1008,Athens State University,Athens,AL,35611,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100830.0,831000.0,8310,Auburn University at Montgomery,Montgomery,AL,36117-3596,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,100858.0,100900.0,1009,Auburn University,Auburn,AL,36849,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,100937.0,101200.0,1012,Birmingham Southern College,Birmingham,AL,35254,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,101028.0,1218200.0,12182,Chattahoochee Valley Community College,Phenix City,AL,36869,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,101073.0,1055400.0,10554,Concordia College Alabama,Selma,AL,36701,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,101116.0,1303906.0,13039,South University-Montgomery,Montgomery,AL,36116,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,101143.0,101500.0,1015,Enterprise State Community College,Enterprise,AL,36330-1300,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,101161.0,106000.0,1060,Coastal Alabama Community College,Bay Minette,AL,36507-2698,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,101189.0,100300.0,1003,Faulkner University,Montgomery,AL,36109-3390,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,101240.0,101700.0,1017,Gadsden State Community College,Gadsden,AL,35903,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,101277.0,4187200.0,41872,New Beginning College of Cosmetology,Albertville,AL,35951,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,101286.0,101800.0,1018,George C Wallace Community College-Dothan,Dothan,AL,36303-9234,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,101295.0,787100.0,7871,George C Wallace State Community College-Hance...,Hanceville,AL,35077-2000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,101301.0,569900.0,5699,George C Wallace State Community College-Selma,Selma,AL,36703-2808,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,101365.0,962107.0,9621,Herzing University-Birmingham,Birmingham,AL,35209,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,101435.0,101900.0,1019,Huntingdon College,Montgomery,AL,36106-2148,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,101453.0,2199700.0,21997,Heritage Christian University,Florence,AL,35630-9977,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,101462.0,526000.0,5260,J. F. Drake State Community and Technical College,Huntsville,AL,35811,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,101480.0,102000.0,1020,Jacksonville State University,Jacksonville,AL,36265,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,101499.0,102100.0,1021,Jefferson Davis Community College,Brewton,AL,36426,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,101505.0,102200.0,1022,Jefferson State Community College,Birmingham,AL,35215-3098,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,101514.0,101300.0,1013,John C Calhoun State Community College,Tanner,AL,35671,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7774,45897302.0,145992.0,1459,Strayer University-Katy,Houston,TX,77079,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7775,45897303.0,145994.0,1459,Strayer University-Northwest Houston,Houston,TX,77064,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7776,45897304.0,145995.0,1459,Strayer University-Plano,Plano,TX,75093,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7777,45897305.0,10145900.0,1459,Strayer University-Cedar Hill,Cedar Hill,TX,75104,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,45897306.0,10145901.0,1459,Strayer University-North Dallas,Dallas,TX,75251,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7779,45897307.0,10145908.0,1459,Strayer University-San Antonio,San Antonio,TX,78216,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7780,45897308.0,10145909.0,1459,Strayer University-Stafford,Stafford,TX,77477,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7781,45920401.0,4169701.0,41697,Unitek College,Fremont,CA,945383185,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7782,46163401.0,4176201.0,41762,Twin Rivers Adult School - Grand Avenue Center,Sacramento,CA,95838-3654,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7783,46163402.0,4176202.0,41762,Twin Rivers Adult School - Arnold Avenue Center,McClellan,CA,956521025,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7784,46163403.0,4176205.0,41762,Greater Sacramento Urban League,Sacramento,CA,958383738,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7785,46163404.0,4176206.0,41762,I-TAP,Sacramento,CA,95841-2989,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7786,47647001.0,4088301.0,40883,WestMed College - Merced,Merced,CA,953400000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7787,47657701.0,4184801.0,41848,Vantage College,El Paso,TX,799064951,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7788,47657702.0,4184802.0,41848,Vantage College,Austin,TX,787523733,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7789,47691101.0,4205801.0,42058,SAE Institute of Technology San Francisco,Emeryville,CA,94608,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7790,47701101.0,10145905.0,1459,Strayer University-Bloomington Campus,Bloomington,MN,554311411,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7791,47702001.0,10145903.0,1459,Strayer University-Schaumburg Campus,Schaumburg,IL,601735081,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7792,47702002.0,10145902.0,1459,Strayer University-Downers Grove Campus,Downers Grove,IL,605151169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7793,47702003.0,10145906.0,1459,Strayer University-Aurora Campus,Aurora,IL,605066220,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7794,48065701.0,869423.0,8694,Rasmussen College - Overland Park,Overland Park,KS,662102786,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7795,48154401.0,4220901.0,42209,National Personal Training Institute of Cleveland,Highland Heights,OH,44143,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7796,48158001.0,10145911.0,1459,Strayer University-St Louis-Brentwood,Brentwood,MO,63144,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7797,48285701.0,157102.0,1571,Georgia Military College-Augusta Campus,Martinez,GA,30907,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,48285702.0,157103.0,1571,Georgia Military College-Fairburn Campus,Fairburn,GA,30213,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7799,48285703.0,157107.0,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800,48285704.0,157101.0,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7801,48285705.0,157105.0,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7802,48285706.0,157100.0,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7803,48285707.0,157103.0,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pd.concat(frames, keys=['2011','2012','2013'])

               UNITID      OPEID OPEID6  \
2011 0       100654.0   100200.0   1002
     1       100663.0   105200.0   1052
     2       100690.0  2503400.0  25034
     3       100706.0   105500.0   1055
     4       100724.0   100500.0   1005
...               ...        ...    ...
2013 7799  48285703.0   157107.0   1571
     7800  48285704.0   157101.0   1571
     7801  48285705.0   157105.0   1571
     7802  48285706.0   157100.0   1571
     7803  48285707.0   157103.0   1571

                                                  INSTNM            CITY  \
2011 0                          Alabama A & M University          Normal
     1               University of Alabama at Birmingham      Birmingham
     2                                Amridge University      Montgomery
     3               University of Alabama in Huntsville      Huntsville
     4                          Alabama State University      Montgomery
...                                                  ...             ...
2013 7799       Georgia Military College-Columbus Campus        Columbus
     7800       Georgia Military College-Valdosta Campus        Valdosta
     7801  Georgia Military College-Warner Robins Campus   Warner Robins
     7802                Georgia Military College-Online   Milledgeville
     7803        Georgia Military College-Stone Mountain  Stone Mountain

          STABBR         ZIP  ACCREDAGENCY INSTURL NPCURL  ...  \
2011 0        AL       35762           NaN     NaN    NaN  ...
     1        AL  35294-0110           NaN     NaN    NaN  ...
     2        AL  36117-3553           NaN     NaN    NaN  ...
     3        AL       35899           NaN     NaN    NaN  ...
     4        AL  36104-0271           NaN     NaN    NaN  ...
...          ...         ...           ...     ...    ...  ...
2013 7799     GA       31909           NaN     NaN    NaN  ...
     7800     GA       31605           NaN     NaN    NaN  ...
     7801     GA       31093           NaN     NaN    NaN  ...
     7802     GA       31061           NaN     NaN    NaN  ...
     7803     GA       30083           NaN     NaN    NaN  ...

          OMAWDP8_NOTFIRSTTIME_POOLED_SUPP OMENRUP_NOTFIRSTTIME_POOLED_SUPP  \
2011 0                                 NaN                              NaN
     1                                 NaN                              NaN
     2                                 NaN                              NaN
     3                                 NaN                              NaN
     4                                 NaN                              NaN
...                                    ...                              ...
2013 7799                              NaN                              NaN
     7800                              NaN                              NaN
     7801                              NaN                              NaN
     7802                              NaN                              NaN
     7803                              NaN                              NaN

          OMENRYP_FULLTIME_POOLED_SUPP OMENRAP_FULLTIME_POOLED_SUPP  \
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7799                          NaN                          NaN
     7800                          NaN                          NaN
     7801                          NaN                          NaN
     7802                          NaN                          NaN
     7803                          NaN                          NaN

          OMAWDP8_FULLTIME_POOLED_SUPP OMENRUP_FULLTIME_POOLED_SUPP  \
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7799                          NaN                          NaN
     7800                          NaN                          NaN
     7801                          NaN                          NaN
     7802                          NaN                          NaN
     7803                          NaN                          NaN

          OMENRYP_PARTTIME_POOLED_SUPP OMENRAP_PARTTIME_POOLED_SUPP  \
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7799                          NaN                          NaN
     7800                          NaN                          NaN
     7801                          NaN                          NaN
     7802                          NaN                          NaN
     7803                          NaN                          NaN

          OMAWDP8_PARTTIME_POOLED_SUPP OMENRUP_PARTTIME_POOLED_SUPP
2011 0                             NaN                          NaN
     1                             NaN                          NaN
     2                             NaN                          NaN
     3                             NaN                          NaN
     4                             NaN                          NaN
...                                ...                          ...
2013 7799                          NaN                          NaN
     7800                          NaN                          NaN
     7801                          NaN                          NaN
     7802                          NaN                          NaN
     7803                          NaN                          NaN

[30832 rows x 1977 columns]